[submodule "libs/UniversalImageLoader"]
	path = libs/UniversalImageLoader
	url = git@github.com:Topface/Android-Universal-Image-Loader.git
[submodule "libs/PullToRefresh"]
	path = libs/PullToRefresh
	url = git@github.com:Topface/Android-PullToRefresh.git
[submodule "libs/Facebook"]
	path = libs/Facebook
	url = git@github.com:Topface/facebook-android-sdk.git
[submodule "libs/WapStart"]
	path = libs/WapStart
	url = git@github.com:Topface/plus1-android-sdk.git
[submodule "plus1-android-sdk"]
	path = plus1-android-sdk
	url = git@github.com:Topface/plus1-android-sdk.git
[submodule "libs/acra"]
	path = libs/acra
	url = git@github.com:Topface/acra.git
[submodule "libs/ActionBarSherlock"]
	path = libs/ActionBarSherlock
	url = git@github.com:Topface/ActionBarSherlock.git
[submodule "libs/ViewPagerIndicator"]
	path = libs/ViewPagerIndicator
	url = git@github.com:Topface/Android-ViewPagerIndicator.git
[submodule "libs/Android-ViewPagerIndicator"]
	path = libs/Android-ViewPagerIndicator
	url = git@github.com:Topface/Android-ViewPagerIndicator.git
[submodule "libs/PhotoView"]
	path = libs/PhotoView
	url = git@github.com:Topface/PhotoView.git
[submodule "libs/MoPub"]
	path = libs/MoPub
	url = git@github.com:Topface/mopub-client.git
