<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="com.sonetica.topface"
          android:versionCode="1"
          android:versionName="1.0" >
     <!-- android:installLocation="preferExternal"  -->
  
  <uses-sdk android:minSdkVersion="7" />
  
  <!-- permissions -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
          
  <!-- application -->
  <application android:name=".App"
               android:icon="@drawable/ic_launcher"
               android:label="@string/app_name"
               android:theme="@android:style/Theme.NoTitleBar"
               android:debuggable="false"
               android:screenOrientation="portrait">
    
    <!-- main launcher -->
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
        
    <!-- activities -->
    <activity android:name=".ui.dashboard.DashboardActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.rates.RatesActivity"         android:screenOrientation="portrait" />
    <activity android:name=".ui.inbox.InboxActivity"         android:screenOrientation="portrait" />
    <activity android:name=".ui.inbox.ChatActivity"          android:screenOrientation="portrait" />
    <activity android:name=".ui.tops.TopsActivity"           android:screenOrientation="portrait" />
    <activity android:name=".ui.album.AlbumActivity"         android:screenOrientation="portrait" />
    <activity android:name=".ui.likes.LikesActivity"         android:screenOrientation="portrait" />
    <activity android:name=".ui.dating.DatingActivity"       android:screenOrientation="portrait" />
    <activity android:name=".ui.dating.FilterActivity"       android:screenOrientation="portrait" />
    <activity android:name=".ui.profile.ProfileActivity"     android:screenOrientation="portrait" />
    
    <!-- preferences activity -->
    <activity android:name=".ui.PreferencesActivity"   android:screenOrientation="portrait" />
    
    <activity android:name=".ui.JLogActivity"   android:screenOrientation="portrait" />
    
    <!-- social activity -->
    <activity android:name=".social.SocialActivity"    android:screenOrientation="portrait" />
    <activity android:name=".social.SocialWebActivity" android:screenOrientation="portrait" />
    
    <!-- services -->
    <service android:name=".services.StatisticService" />
    <service android:name=".services.ConnectionService" />
  </application>
  
</manifest>

