<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.topface.topface"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name=".App">
        <activity
            android:name=".ui.debug.EmptyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>

</manifest>