<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.topface.topface"
    android:installLocation="auto"
    tools:ignore="UnusedAttribute">

    <!-- permissions -->
    <permission
        android:name="com.topface.topface.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.topface.topface.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <!--persongraph permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <!-- Fortumo permissions -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="${applicationClass}"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_home_topface_white"
        android:supportsRtl="false"
        android:theme="@style/Theme.Topface">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="value" />

        <meta-data
            android:name="@string/tracking_id_meta_data_name"
            android:value="UA-36704890-1" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <!--AdToApp meta-data start-->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/adtoapp_key_value" />

        <meta-data
            android:name="adtoapp.sdk.plugin"
            android:value="android" />
        <!--AdToApp meta-data finish-->

        <!-- activity -->
        <activity
            android:name=".ui.NavigationActivity"
            android:theme="@style/Theme.Topface.Navigation"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ExternalLinkActivity"
            android:parentActivityName=".ui.NavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />


                <data
                    android:host="topface.com"
                    android:pathPrefix="/profile"
                    android:scheme="http" />

                <data
                    android:host="topface.com"
                    android:scheme="http" />

                <data
                    android:host="topface.ru"
                    android:pathPattern="/profile"
                    android:scheme="http" />

                <data
                    android:host="topface.com"
                    android:pathPrefix="/confirm"
                    android:scheme="http" />

                <data
                    android:host="topface.ru"
                    android:pathPrefix="/confirm"
                    android:scheme="http" />

                <data
                    android:host="topface.com"
                    android:pathPattern="/profile"
                    android:scheme="https" />

                <data
                    android:host="topface.ru"
                    android:pathPattern="/profile"
                    android:scheme="https" />

                <data
                    android:host="topface.com"
                    android:pathPrefix="/confirm"
                    android:scheme="https" />

                <data
                    android:host="topface.ru"
                    android:pathPrefix="/confirm"
                    android:scheme="https" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="topface" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="offerwall"
                    android:scheme="topface" />
            </intent-filter>
        </activity>

        <!-- Facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/FullyTranslucent" />
        <activity
            android:name=".ui.AddToLeaderActivity"
            android:parentActivityName=".ui.NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>
        <activity
            android:name=".ui.InviteVkFriendsActivity"
            android:parentActivityName=".ui.NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>
        <activity
            android:name=".ui.SslErrorActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".ui.GiftsActivity"
            android:theme="@style/Theme.Topface.Gifts"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.TopfaceAuthActivity" />
        <activity
            android:name=".ui.fragments.profile.PhotoSwitcherActivity"
            android:theme="@style/Topface.Theme.TransparentActionBarActivity" />
        <activity
            android:name=".ui.edit.EditContainerActivity"
            android:theme="@style/Theme.Topface.Light" />
        <activity
            android:name=".ui.settings.SettingsContainerActivity"
            android:parentActivityName=".ui.NavigationActivity"
            android:theme="@style/Theme.Topface">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.BanActivity"
            android:theme="@style/Theme.Topface.Ban" />

        <activity
            android:name=".ui.RestoreAccountActivity"
            android:theme="@style/Theme.Topface.RestoreAccountActivity" />

        <activity android:name=".ui.BlackListActivity" />

        <activity android:name=".ui.bonus.view.BonusActivity" />

        <activity
            android:name=".ui.ChatActivity"
            android:parentActivityName=".ui.NavigationActivity"
            android:theme="@style/Theme.Topface.Chat"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.UserProfileActivity"
            android:parentActivityName=".ui.NavigationActivity"
            android:theme="@style/NoWindowAnimation"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.OwnProfileActivity"
            android:parentActivityName=".ui.NavigationActivity"
            android:theme="@style/NoWindowAnimation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.OwnGiftsActivity"
            android:parentActivityName=".ui.NavigationActivity"
            android:theme="@style/Theme.Topface.Gifts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.ComplainsActivity"
            android:parentActivityName=".ui.NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.EditorBannersActivity"
            android:parentActivityName=".ui.NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.EditorProfileActionsActivity"
            android:parentActivityName=".ui.NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.RegistrationActivity"
            android:parentActivityName=".ui.NavigationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.PasswordRecoverActivity"
            android:parentActivityName=".ui.NavigationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.PurchasesActivity"
            android:parentActivityName=".ui.NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <activity
            android:name=".ui.ComplainsMessageActivity"
            android:parentActivityName=".ui.ComplainsActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ComplainsActivity" />
        </activity>

        <activity android:name=".ui.PaymentwallActivity" />

        <activity
            android:name="ru.ok.android.sdk.OkAuthActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ok125879808"
                    android:scheme="okauth" />

                <data
                    android:host="ok192696576"
                    android:scheme="okauth" />

            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SMSInviteActivity"
            android:parentActivityName=".ui.NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NavigationActivity" />
        </activity>

        <!-- ADS -->

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.sponsorpay.publisher.ofw.SPOfferWallActivity"
            android:configChanges="orientation" />

        <activity
            android:name=".utils.offerwalls.supersonicads.SupersonicWallActivity"
            android:theme="@style/Theme.Topface.NoActionBar" />

        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Topface.NoActionBar" />

        <!-- Alias for main Activity from first version. Just in case of previous problems with FB -->
        <activity-alias
            android:name=".ui.MainActivity"
            android:targetActivity=".ui.NavigationActivity" />

        <activity-alias
            android:name=".ui.AuthActivity"
            android:targetActivity=".ui.NavigationActivity" />

        <!-- Topface offerwall -->
        <activity
            android:name="com.topface.offerwall.publisher.TFOfferwallActivity"
            android:icon="@drawable/ic_home_topface_white"
            android:parentActivityName=".ui.PurchasesActivity" />

        <receiver
            android:name=".receivers.TestNotificationsReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.topface.topface.actions.NOTIFY" />
                <action android:name="com.topface.topface.actions.TEST_NETWORK_ERRORS_ON" />
                <action android:name="com.topface.topface.actions.TEST_NETWORK_ERRORS_OFF" />
                <action android:name="com.topface.topface.actions.TEST_NETWORK_ERRORS_CANCEL" />
            </intent-filter>
        </receiver>

        <!-- Amazon In-App Purchasing -->
        <!--suppress AndroidDomInspection -->
        <receiver
            android:name="com.amazon.inapp.purchasing.ResponseReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action
                    android:name="com.amazon.inapp.purchasing.NOTIFY"
                    android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!--AdWords-->
        <receiver
            android:name="com.google.ads.conversiontracking.InstallReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.sponsorpay.advertiser.InstallReferrerReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.yandex.metrica.MetricaEventHandler"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <receiver
            android:name=".receivers.NotificationClosedReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.topface.topface.NOTIFICATION_CLOSED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.CatchSmsActions">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_SEND" />
            </intent-filter>
        </receiver>

        <!--gcm-->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.topface.topface" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.topface.topface.utils.gcmutils.GcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>


        <service
            android:name="com.topface.topface.utils.gcmutils.InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name="com.topface.topface.utils.gcmutils.RegistrationService"
            android:exported="false" />

        <!--Приведенная ниже херь, есть результат внедрения appodeal, и при удалении этой рекломной сети-->
        <!--все это нужно выпилить, быстро, решительно!-->
        <!--НАЧАЛО ТУТ-->

        <meta-data
            android:name="com.appodeal.framework"
            android:value="android" />
        <receiver
            android:name="com.appodeal.ads.AppodealPackageAddedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.facebook.ads.InterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.vungle.publisher.FullScreenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.appodeal.ads.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.appodeal.ads.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.appodeal.ads.LoaderActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.chartboost.sdk.CBImpressionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="org.nexage.sourcekit.mraid.MRAIDBrowser"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.amazon.device.ads.AdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.unity3d.ads.android.view.UnityAdsFullscreenActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.unity3d.ads.android2.view.UnityAdsFullscreenActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="org.nexage.sourcekit.vast.activity.VASTActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="org.nexage.sourcekit.vast.activity.VPAIDActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.appodeal.ads.networks.SpotXActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.jirbo.adcolony.AdColonyOverlay"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.jirbo.adcolony.AdColonyFullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.jirbo.adcolony.AdColonyBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.startapp.android.publish.list3d.List3DActivity"
            android:theme="@android:style/Theme" />
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.startapp.android.publish.OverlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.startapp.android.publish.FullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme" />
        <service
            android:name="com.yandex.metrica.MetricaService"
            android:enabled="true"
            android:exported="true"
            android:process=":Metrica">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.yandex.metrica.IMetricaService" />
                <data android:scheme="metrica" />
            </intent-filter>
            <meta-data
                android:name="metrica:api:level"
                android:value="39" />
        </service>

        <activity
            android:name="com.yandex.mobile.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.inmobi.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.inmobi.share.id" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.inmobi.signals.activityrecognition.ActivityRecognitionManager"
            android:enabled="true" />
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="ru.mail.android.mytarget.ads.MyTargetActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!--КОНЕЦ-->

        <!--AdToApp activities start-->

        <!-- STARTAPP -->
        <activity
            android:name="com.startapp.android.publish.AppWallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- APPLOVIN -->
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />

        <!-- PERSONAGRAPH -->
        <receiver android:name="com.personagraph.sensor.service.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <service android:name="com.personagraph.sensor.service.SensorService">
            <intent-filter>
                <action android:name="com.personagraph.SensorService" />
            </intent-filter>
        </service>
        <!--AdToApp activities finish-->

    </application>

</manifest>

